* {
    box-sizing: border-box;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

@font-face {
    font-family: gravityul;
    src: url('../font/Gravity-UltraLight.otf');
}

body {
    font-family: gravityul, sans-serif;
}

header {
    width: 100%;
}

nav {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.topbar {
    width: 100%;
    height: 40px;
    position: fixed;
    z-index: 22;
    background-color: rgba(255, 255, 255, 0.8);
}

ul {
    list-style: none;
    padding-top: 10px;
    height: 40px;
    width: 600px;
    opacity: 1 !important;
    text-align: center;
}

li {
    text-align: center;
    display: inline-block;
    padding: 0 20px 0 20px;
    opacity: 1 !important;
}



@media screen and (min-width: 1500px) {

    #banner {

    }
    #about-me {
        height: 500px;

    }
    .email {
        display: none;
    }
    .social {
        width: 390px;
        margin-top: -70px;
    }
    .social img {
        width: 40px;
        height: 40px;
    }
    .content {
        top: 10px;
    }
    .logo {
        height: 300px;
        width: auto;
        text-align: center;
    }
    .about h2 {
        line-height: 90px !important;
    }
    #music {
        height: 850px;
    }
    .musicflex {
        padding: 0 15px;
    }
    .soundframe {
        width: 460px;
        padding-right: 10px;
    }
    .sheetmusic {
        width: 460px;
        height: 400px;
    }
    #video {
        height: 800px !important;
    }
    .more {

      top: 150px !important;
    }
    #about-me {
        height: 500px;

    }
    #contact {
        height: 600px;
    }
}



@media screen and (min-width: 1000px) {


    #banner {

    }

    .about h2 {
        line-height: 90px !important;
    }
    .email {
        display: none;
    }
    #banner {
        height: 580px;

    }
    #about-me {
        height: 500px;

    }
    .social {
        width: 360px;
        margin-top: -70px;
    }
    .social img {
        width: 40px;
        height: 40px;
    }
    .content {
        top: 100px;
    }
    .logo {
        height: 300px;
        width: auto;
        text-align: center;
    }
    .about p {
        padding: 0 20px;
    }
    #music {
        height: 850px;
    }
    .soundframe {
        width: 460px;
        padding-right: 10px;
    }
    .sheetmusic {
        width: 460px;
        height: 400px;
    }
    #video {
        height: 750px;
    }
    .more {

      top: 100px !important;
    }
    #contact {
        height: 500px;
    }
    video {
        margin-top: 250px;
    }
}



@media screen and (max-width: 999px) and (min-width: 750px) {

    .topbar {
        display: none;
    }
    .email {
        display: none;
    }
    .about h2 {
        display: none;
    }
    .about {
        min-width: 700px;
    }
    .about p {
        padding-top: 10px;
    }
    .social {
        width: 100%;
        padding-top: 10px;
    }
    .social img {
        height: 40px;
        width: 44px;
        padding: 0 2px;
    }
    #vid6 {
        display: none;
    }
    #vid5 {
        display: none;
    }
    #music {
        height: 1200px;
    }
    #about-me {
        height: 600px;
    }
    .soundframe {
        width: 420px;
        padding-right: 10px;
    }
    .sheetmusic {
        width: 420px;
        height: 370px;
    }
    #video {
        height: 690px;
    }
    .more {

      top: 80px !important;
    }
    #contact {
        height: 500px;
    }
    video {
        margin-top: 250px;
        z-index: 0;
        height: 500px !important;
    }
    #banner {
        height: 500px;
    }
    .content {
        z-index: 1;
        top: 80px;
    }
}

@media screen and (max-width: 749px) and (min-width: 600px) {
    .logo {
        width: 540px;
        height: auto;
        text-align: center;
    }
    #about-me {
        height: 650px;
    }
    #about-me h2 {
        display: none;
    }
    .about p {
        padding-top: 10px;
    }
    .social {
        width: 100%;
        padding-top: 10px;
    }
    .social img {
        height: 70px;
        width: 80px;
        padding: 0 5px;
    }
    .topbar {
        display: none;
    }
    #vid6 {
        display: none;
    }
    #vid5 {
        display: none;
    }
    #vid4 {
        display: none;
    }
    #vid3 {
        display: none;
    }
    #vid2 {
        width: 480px;
        height: 300px;
    }
    #vid1 {
        width: 480px;
        height: 300px;
    }
    #music {
        height: 1200px;
    }
    .soundframe {
        width: 460px;
        padding-bottom: 30px;
    }
    .sheetmusic {
        width: 460px;
        height: 400px;
    }
    #video {
        height: 950px;
    }
    .more {
        margin-top: 300px;
    }
    .available h2 {
        font-size: 2.5rem;
    }
    .wrapper2 {
        text-align: center;
    }
    #contact {
        height: 500px;
    }
    video {
        margin-top: 300px;
        height: 400px !important;
        z-index: 0;
    }
    #banner {
        height: 450px;
    }
    .content {
        z-index: 1;
        top: 70px;
    }
    .more {
        margin-top: 320px !important;
    }
}

@media screen and (max-width: 599px) and (min-width: 421px) {
    #about-me {
        height: 700px;
    }
    .about {
        width: 100%;
        display: inline-block;
    }
    .about p {
        padding-top: 10px;
        font-size: 1.5rem;
    }
    .about h2 {
        display: none;
    }
    .social {
        width: 100%;
        padding-top: 10px;
    }
    .social img {
        height: 70px;
        width: 80px;
        padding: 0 5px;
    }
    .topbar {
        display: none;
    }
    .logo {
        width: 350px;
        height: auto;
        text-align: center;
    }
    #vid6 {
        display: none;
    }
    #vid5 {
        display: none;
    }
    #vid4 {
        display: none;
    }
    #vid3 {
        display: none;
    }
    #vid2 {
        display: none;
    }
    #vid1 {
        width: 380px;
        height: 220px;
    }
    #music {
        height: 1100px;
    }
    .soundframe {
        width: 320px;
        padding-bottom: 20px;
    }
    .sheetmusic {
        width: 320px;
    }
    #video {
        height: 550px;
    }
    #contact {
        height: 500px;
    }
    .more {
        margin-top: -80px !important;
    }
    .available h2 {
        font-size: 1.5rem !important;
    }
    #contact a {
        font-size: 1.2rem;
    }
    video {
        margin-top: 300px;
        height: 350px !important;
        z-index: 0;
    }
    #banner {
        height: 350px;
    }
    .content {
        z-index: 1;
        top: 70px;
    }
}

@media screen and (max-width: 420px) and (min-width: 322px) {

    .topbar {
        display: none;
    }
    .about-img img {
        width: 200px;
        height: 200px;
    }
    .about {
        width: 100%;
        display: inline-block;
    }
    .about p {
        padding-top: 10px;
        font-size: 1.3rem;
    }
    .about h2 {
        display: none;
    }
    .social {
        width: 100%;
    }
    .social img {
        height: 50px;
        width: 58px;
        padding: 0 4px;
    }
    .content {
        top: -30px;
    }
    .logo {
        height: 100px;
        width: auto;
        text-align: center;
    }
    .text h4 {
        font-size: 1rem;
    }
    .wrapper2 {
        text-align: center;
    }
    #vid6 {
        display: none;
    }
    #vid5 {
        display: none;
    }
    #vid4 {
        display: none;
    }
    #vid3 {
        display: none;
    }
    #vid2 {
        display: none;
    }
    #vid1 {
        width: 320px;
        height: 200px;
    }
    #about-me {
        height: 550px;
    }
    #music {
        height: 1060px;
    }
    .soundframe {
        width: 320px;
        padding-bottom: 20px;
    }
    .sheetmusic {
        width: 320px;
    }
    #video {
        height: 500px;
    }
    .more {
        margin-top: -100px;
    }
    body h2 {
        font-size: 2rem;
    }
    .available h2 {
        font-size: 1.4rem !important;
    }
    #contact a {
        font-size: 1.2rem;
    }
    #contact {
        height: 450px;
    }
    .contentf-inside {
        padding: 0px;
        padding-bottom: 10px;
    }
    footer {
        height: 15px;
        padding-top: 7px;
        background-color: white !important;
    }
    footer p {
        font-size: 0.6rem;
        color: #aaa;
    }
    video {
        margin-top: 250px;
        height: 350px !important;
        right: 120px;
        z-index: 0;
    }
    #banner {
        height: 300px;
    }
    .content {
        z-index: 1;
        top: 70px;
    }


.more {
    margin-top: -80px !important;
}


}


@media screen and (max-width: 321px) and (min-width: 100px) {


    .topbar {
        display: none;
    }
    .about-img img {
        width: 200px;
        height: 200px;
    }
    .about {
        width: 100%;
        display: inline-block;
    }
    .about p {
        padding-top: 10px;
        font-size: 1.3rem;
    }
    .about h2 {
        display: none;
    }
    .social {
        width: 100%;
    }
    .social img {
        height: 50px;
        width: 58px;
        padding: 0 4px;
    }
    .content {
        top: 30px;
    }
    .logo {
        height: 100px;
        width: auto;
        text-align: center;
    }
    .text h4 {
        font-size: 1rem;
    }
    .wrapper2 {
        text-align: center;
    }
    #vid6 {
        display: none;
    }
    #vid5 {
        display: none;
    }
    #vid4 {
        display: none;
    }
    #vid3 {
        display: none;
    }
    #vid2 {
        display: none;
    }
    #vid1 {
        width: 260px;
        height: 180px;
    }
    #about-me {
        height: 600px;


    }
    #music {
        height: 980px;
    }
    .soundframe {
        width: 260px;
        padding-bottom: 20px;
    }
    .sheetmusic {
        width: 260px;
    }
    #video {
        height: 500px;
    }
    .more {
        margin-top: -70px;
    }
    body h2 {
        font-size: 2rem;
    }
    .available h2 {
        font-size: 1.4rem !important;
    }
    #contact a {
        font-size: 1.2rem;
    }
    #contact {
        height: 450px;
    }
    .contentf-inside {
        padding: 0px;
        padding-bottom: 10px;
    }
    footer {
        height: 15px;
        padding-top: 7px;
        background-color: white !important;
    }
    footer p {
        font-size: 0.6rem;
        color: #aaa;
    }
    video {
        margin-top: 250px;
        height: 280px !important;
        right: 160px;
        z-index: 0;
    }
    #banner {
        height: 230px;
    }
    .content {
        z-index: 1;


    }



.more {
    margin-top: -80px !important;
}


}

a {
    color: #444;
    text-decoration: none;
    font-size: 1.5rem;
    opacity: 1 !important;
    font-weight: 400;
    font-family: 'raleway', sans-serif;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}


a:hover {
    color: #999;
}


a img {
    opacity: 1 !important;
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}

a img:hover {
    opacity: 0.8 !important;
}


video {
    display: hidden;
    position: relative;
    top: -300px;
    min-width: 100%;
    width: auto;
    height: auto;
    background: url('video/Hello-World.jpg') no-repeat;
    background-size: cover;
    transition: 1s opacity;
}
.stopfade {
    opacity: .5;
}

header {
    background-color: #f5f5f5;
    overflow: hidden;
    max-width: 100%;
}


#banner {
    overflow: hidden;
    max-height: 645px;
    max-width: 100%;
}

.wrapper {
    width: 100%;
    overflow: hidden;
    height: 600px;
}
.wrapper2 {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}
.wrapper3 {
    max-width: 1000px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}
.content {
    width: 100%;
    height: 400px;
    margin-top: 40px;
    position: absolute;
    text-align: center;
}
h1 {
    font-size: 8rem;
    color: white;
    font-weight: 300;
    font-family: gravityul, sans-serif;
    text-align: center;
}
h4 {
    font-size: 2rem;
    color: white;
    font-weight: 100;
    font-style: normal;
    font-family: gravityul, sans-serif;
    padding: 0;
    text-align: center;
}
#about-me {
    position: relative;
    width: 100%;
    background-color: #f5f5f5;
    text-align: center;
    padding-top: 30px;
}
#music {
    position: relative;
    width: 100%;
    padding-top: 30px;
    background-color: #fdfdfd;
}
#video {
    position: relative;
    width: 100%;
    padding-top: 30px;
    background-color: #f5f5f5;
}
#contact {
    position: relative;
    max-height: 600px;
    padding-top: 30px;
    width: 100%;
    background-color: #fdfdfd;
}
.aboutsection {
    display: inline-block;
    min-height: 360px;
    min-width: 200px;
    padding: 5px 10px;
    text-align: center;
}
.about-img {
    display: inline-block;
    text-align: center;
}
.about-img img {
    max-width: 300px;
    max-height: 300px;
}
.about {
    max-width: 590px;
    max-height: 700px;
    display: inline-block;
}
.social {
    text-align: center;
}
.social img {
    display: inline-block;
}
.musicsection {
    display: flex-table;
    height: 400px;
    padding-top: 35px;
    text-align: center;
}
.musicflex {
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
}
.available h2 {
    width: 100%;
    margin-top: 20px;
    position: relative;
    text-align: center;
    font-size: 3rem;
    font-family: 'Raleway', sans-serif;
}
u {
    text-decoration: none;
    border-bottom: 1px solid black;
}


.more {
    width: 100%;
    position: relative;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}


.more a {
    font-weight: 900 !important;
    padding: 10px 30px;
    border-radius: 50px;
    color: #eee;
    background-color: #666;
    font-family: 'Raleway', sans-serif;

}
.more a:hover {
    background-color: #333;
}
.available img {
    display: inline-block;
    width: 70px;
    height: 70px;
    padding: 10px;
}
.youtubesection {
    display: flex;
    height: 380px;
    padding-top: 40px;
    text-align: center;
}
.vid {
    width: 320px;
    height: 180px;
}
.youtubevids {
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}
.contact-section {
    height: 150px;
    padding-top: 40px;
    text-align: center;
    padding: 5px;
}
.contact-content a {
    font-size: 2.2rem;
}
p {
    color: #020202;
    font-size: 1.8rem;
    text-align: center;
    font-weight: 300;
    font-family: 'Libre Franklin', sans-serif;
}
h2 {
    color: #444;
    font-size: 4rem;
    text-align: center;
    padding: 20px 0;
    font-weight: 200;
    font-family: 'Raleway', sans-serif;
}
h3 {
    color: #020202;
    font-size: 2.5rem;
    text-align: center;
    padding: 20px 0;
    font-weight: 200;
}
html, body {
    height: 100%;
}
.contentf {
    min-height: 100%;
}
.contentf-inside {
    padding: 0px;
    padding-bottom: 20px;
}
footer {
    max-height: 40px;
    padding-top: 10px;
}
footer p {
    font-size: 1rem;
}
.logo {
    opacity: 0.9;
}

/*.email {

  background-color: #D50000;
  border-radius: 100%;
  width: 70px;
  height: 70px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 200;
  color: white !important;
  padding: 15px 0;
  font-size: 0.8rem !important;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;

  -webkit-box-shadow:
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
}


.email a {
  color: white !important;
  font-size: 0.8rem !important;
}


.email:hover {
  background-color: #D32F2F;
}*/
